.popup__name-input{
    margin-bottom: 29.74px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 0px 13.26px;
    border: none;
    width: 358px;
    height: 14px;
    opacity: 0.2;
    border-bottom: 1px solid #000000;
}